[package]
name = "rIC3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aig = "=0.2.6"
satif = "=0.1.3"
satif-minisat = "=0.2.4"
logic-form = "=0.2.9"
clap = { version = "4.3.0", features = ["derive"] }
rand = "0.8.5"
serde_json = "1.0.107"
serde = { version = "1.0.189", features = ["derive"] }
ctrlc = { version = "3.4.1", features = ["termination"] }
giputils = "=0.2.4"
transys = { path = "../transys" }
